<div class="article-page-wrapper">
  <button id="go-back">Go Back</button>
  <h3>Title: {{blog.blog_title}}</h3>
  <h6>Author: {{blog.user.username}}</h6>
  <p>{{blog.blog_body}}</p>
  <script src="/js/article-page.js"></script>
</div>